# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
coverage/

# Temporary files
.tmp/
.cache/
*.swp

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dependency lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml
